<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.news.dao.News_typeMapper" >
  <resultMap id="BaseResultMap" type="com.news.entity.News_type" >
    <id column="ntid" property="ntid" jdbcType="INTEGER" />
    <result column="ntname" property="ntname" jdbcType="VARCHAR" />
    <result column="bak1" property="bak1" jdbcType="INTEGER" />
    <result column="bak2" property="bak2" jdbcType="INTEGER" />
    <result column="bak3" property="bak3" jdbcType="VARCHAR" />
    <result column="bak4" property="bak4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ntid, ntname, bak1, bak2, bak3, bak4
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.news.entity.News_typeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from news_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from news_type
    where ntid = #{ntid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from news_type
    where ntid = #{ntid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.news.entity.News_typeExample" >
    delete from news_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.news.entity.News_type" >
    insert into news_type (ntid, ntname, bak1, 
      bak2, bak3, bak4)
    values (#{ntid,jdbcType=INTEGER}, #{ntname,jdbcType=VARCHAR}, #{bak1,jdbcType=INTEGER}, 
      #{bak2,jdbcType=INTEGER}, #{bak3,jdbcType=VARCHAR}, #{bak4,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.news.entity.News_type" >
    insert into news_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ntid != null" >
        ntid,
      </if>
      <if test="ntname != null" >
        ntname,
      </if>
      <if test="bak1 != null" >
        bak1,
      </if>
      <if test="bak2 != null" >
        bak2,
      </if>
      <if test="bak3 != null" >
        bak3,
      </if>
      <if test="bak4 != null" >
        bak4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ntid != null" >
        #{ntid,jdbcType=INTEGER},
      </if>
      <if test="ntname != null" >
        #{ntname,jdbcType=VARCHAR},
      </if>
      <if test="bak1 != null" >
        #{bak1,jdbcType=INTEGER},
      </if>
      <if test="bak2 != null" >
        #{bak2,jdbcType=INTEGER},
      </if>
      <if test="bak3 != null" >
        #{bak3,jdbcType=VARCHAR},
      </if>
      <if test="bak4 != null" >
        #{bak4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.news.entity.News_typeExample" resultType="java.lang.Integer" >
    select count(*) from news_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update news_type
    <set >
      <if test="record.ntid != null" >
        ntid = #{record.ntid,jdbcType=INTEGER},
      </if>
      <if test="record.ntname != null" >
        ntname = #{record.ntname,jdbcType=VARCHAR},
      </if>
      <if test="record.bak1 != null" >
        bak1 = #{record.bak1,jdbcType=INTEGER},
      </if>
      <if test="record.bak2 != null" >
        bak2 = #{record.bak2,jdbcType=INTEGER},
      </if>
      <if test="record.bak3 != null" >
        bak3 = #{record.bak3,jdbcType=VARCHAR},
      </if>
      <if test="record.bak4 != null" >
        bak4 = #{record.bak4,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update news_type
    set ntid = #{record.ntid,jdbcType=INTEGER},
      ntname = #{record.ntname,jdbcType=VARCHAR},
      bak1 = #{record.bak1,jdbcType=INTEGER},
      bak2 = #{record.bak2,jdbcType=INTEGER},
      bak3 = #{record.bak3,jdbcType=VARCHAR},
      bak4 = #{record.bak4,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.news.entity.News_type" >
    update news_type
    <set >
      <if test="ntname != null" >
        ntname = #{ntname,jdbcType=VARCHAR},
      </if>
      <if test="bak1 != null" >
        bak1 = #{bak1,jdbcType=INTEGER},
      </if>
      <if test="bak2 != null" >
        bak2 = #{bak2,jdbcType=INTEGER},
      </if>
      <if test="bak3 != null" >
        bak3 = #{bak3,jdbcType=VARCHAR},
      </if>
      <if test="bak4 != null" >
        bak4 = #{bak4,jdbcType=VARCHAR},
      </if>
    </set>
    where ntid = #{ntid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.news.entity.News_type" >
    update news_type
    set ntname = #{ntname,jdbcType=VARCHAR},
      bak1 = #{bak1,jdbcType=INTEGER},
      bak2 = #{bak2,jdbcType=INTEGER},
      bak3 = #{bak3,jdbcType=VARCHAR},
      bak4 = #{bak4,jdbcType=VARCHAR}
    where ntid = #{ntid,jdbcType=INTEGER}
  </update>
</mapper>