<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.news.dao.ReviewMapper" >
  <resultMap id="BaseResultMap" type="com.news.entity.Review" >
    <id column="rid" property="rid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="nid" property="nid" jdbcType="INTEGER" />
    <result column="rtime" property="rtime" jdbcType="DATE" />
    <result column="rtext" property="rtext" jdbcType="VARCHAR" />
    <result column="bak1" property="bak1" jdbcType="INTEGER" />
    <result column="bak2" property="bak2" jdbcType="INTEGER" />
    <result column="bak3" property="bak3" jdbcType="VARCHAR" />
    <result column="bak4" property="bak4" jdbcType="VARCHAR" />
  </resultMap>
<resultMap id="regg" type="com.news.entity.vo.regai" >
  <id column="rid" property="rid"  />
    <result column="uid" property="uid"  />
    <result column="nid" property="nid"  />
    <result column="rtime" property="rtime"  />
    <result column="rtext" property="rtext"  />
    <result column="uname" property="uname"  />
  </resultMap>  
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    rid, uid, nid, rtime, rtext, bak1, bak2, bak3, bak4
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.news.entity.ReviewExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from review
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from review
    where rid = #{rid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from review
    where rid = #{rid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.news.entity.ReviewExample" >
    delete from review
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.news.entity.Review" >
    insert into review (rid, uid, nid, 
      rtime, rtext, bak1, bak2, 
      bak3, bak4)
    values (#{rid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{nid,jdbcType=INTEGER}, 
      #{rtime,jdbcType=DATE}, #{rtext,jdbcType=VARCHAR}, #{bak1,jdbcType=INTEGER}, #{bak2,jdbcType=INTEGER}, 
      #{bak3,jdbcType=VARCHAR}, #{bak4,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.news.entity.Review" >
    insert into review
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        rid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="nid != null" >
        nid,
      </if>
      <if test="rtime != null" >
        rtime,
      </if>
      <if test="rtext != null" >
        rtext,
      </if>
      <if test="bak1 != null" >
        bak1,
      </if>
      <if test="bak2 != null" >
        bak2,
      </if>
      <if test="bak3 != null" >
        bak3,
      </if>
      <if test="bak4 != null" >
        bak4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="nid != null" >
        #{nid,jdbcType=INTEGER},
      </if>
      <if test="rtime != null" >
        #{rtime,jdbcType=DATE},
      </if>
      <if test="rtext != null" >
        #{rtext,jdbcType=VARCHAR},
      </if>
      <if test="bak1 != null" >
        #{bak1,jdbcType=INTEGER},
      </if>
      <if test="bak2 != null" >
        #{bak2,jdbcType=INTEGER},
      </if>
      <if test="bak3 != null" >
        #{bak3,jdbcType=VARCHAR},
      </if>
      <if test="bak4 != null" >
        #{bak4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.news.entity.ReviewExample" resultType="java.lang.Integer" >
    select count(*) from review
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update review
    <set >
      <if test="record.rid != null" >
        rid = #{record.rid,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.nid != null" >
        nid = #{record.nid,jdbcType=INTEGER},
      </if>
      <if test="record.rtime != null" >
        rtime = #{record.rtime,jdbcType=DATE},
      </if>
      <if test="record.rtext != null" >
        rtext = #{record.rtext,jdbcType=VARCHAR},
      </if>
      <if test="record.bak1 != null" >
        bak1 = #{record.bak1,jdbcType=INTEGER},
      </if>
      <if test="record.bak2 != null" >
        bak2 = #{record.bak2,jdbcType=INTEGER},
      </if>
      <if test="record.bak3 != null" >
        bak3 = #{record.bak3,jdbcType=VARCHAR},
      </if>
      <if test="record.bak4 != null" >
        bak4 = #{record.bak4,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update review
    set rid = #{record.rid,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=INTEGER},
      nid = #{record.nid,jdbcType=INTEGER},
      rtime = #{record.rtime,jdbcType=DATE},
      rtext = #{record.rtext,jdbcType=VARCHAR},
      bak1 = #{record.bak1,jdbcType=INTEGER},
      bak2 = #{record.bak2,jdbcType=INTEGER},
      bak3 = #{record.bak3,jdbcType=VARCHAR},
      bak4 = #{record.bak4,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.news.entity.Review" >
    update review
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="nid != null" >
        nid = #{nid,jdbcType=INTEGER},
      </if>
      <if test="rtime != null" >
        rtime = #{rtime,jdbcType=DATE},
      </if>
      <if test="rtext != null" >
        rtext = #{rtext,jdbcType=VARCHAR},
      </if>
      <if test="bak1 != null" >
        bak1 = #{bak1,jdbcType=INTEGER},
      </if>
      <if test="bak2 != null" >
        bak2 = #{bak2,jdbcType=INTEGER},
      </if>
      <if test="bak3 != null" >
        bak3 = #{bak3,jdbcType=VARCHAR},
      </if>
      <if test="bak4 != null" >
        bak4 = #{bak4,jdbcType=VARCHAR},
      </if>
    </set>
    where rid = #{rid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.news.entity.Review" >
    update review
    set uid = #{uid,jdbcType=INTEGER},
      nid = #{nid,jdbcType=INTEGER},
      rtime = #{rtime,jdbcType=DATE},
      rtext = #{rtext,jdbcType=VARCHAR},
      bak1 = #{bak1,jdbcType=INTEGER},
      bak2 = #{bak2,jdbcType=INTEGER},
      bak3 = #{bak3,jdbcType=VARCHAR},
      bak4 = #{bak4,jdbcType=VARCHAR}
    where rid = #{rid,jdbcType=INTEGER}
  </update>
  
  <select id="selectBynid" resultMap="regg" parameterType="java.lang.Integer" >
    select r.`rid`,r.`uid`,r.`nid`,r.`rtime`,
	r.`rtext`,u.`uname`
	from `review` as r,`user` as u
	where r.nid=#{0} and r.`uid`=u.`uid`
  </select>
  
    <select id="selectByuid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from review where uid=#{uid}
  </select>
  
</mapper>